version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventory_db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3307:3306"  # Map container port to host
    volumes:
      - mysql-data:/var/lib/mysql  # Persist data
    restart: unless-stopped

volumes:
  mysql-data:
